<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon">

  <title>
    AI Opener
  </title>


</head>
<body class="">
 <div class="main-content" id="panel">
  </div>

  {% block javascripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="/static/assets/js/argon.js?v=1.2.0"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  {% endblock javascripts %}
  {% include "includes/scripts.html" %}

</body>
</html>